def sachinFunction_GithHub():

import requests

url = "https://surveyfirmifmr.surveycto.com/api/v1/forms/data/wide/json/Try_Sachin"

querystring = {"api_key":"TQB8S1xOuDWtBFL8hxtMsGW5W2bqAJNw"}

headers = {
    'api_key': "TQB8S1xOuDWtBFL8hxtMsGW5W2bqAJNw",
    'realm': "surveyfirmifmr.surveycto.com",
    'Authorization': "Digest username=\"user\", realm=\"surveyfirmifmr.surveycto.com\", nonce=\"MTUyOTY3NTQxMTMzOTo5MmYzZmU5MzMxMzZjNTIwMDk0NGZlZjI2NTQwODQ4ZQ==\", uri=\"/api/v1/forms/data/wide/json/Try_Sachin\", algorithm=\"MD5\", qop=auth, nc=00000001, cnonce=\"r6obYKRL\", response=\"99478aa29ce79c7e739842f582dda402\"",
    'Cache-Control': "no-cache",
    'Postman-Token': "de8882df-fc5b-4b03-b804-93e141a1315a"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

return response.text
